html {
  background-color: #c9b5ab;
  line-height: 1.9rem;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

nav li {
  list-style-type: none;
  font-weight: 700;
}

a,
nav li {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

main {
  font-family: "PT Serif", serif;
  font-weight: normal;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.p-one {
  font-size: 1.125rem;
  font-weight: 700;
}

blockquote {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

cite {
  font-size: 0.8rem;
}

main > ol li {
  list-style-type: lower-greek;
  line-height: 1.2rem;
}

.serving {
  font-style: italic;
  line-height: 1.2rem;
}

.value {
  font-weight: 700;
  line-height: 1.2rem;
}

ul {
  list-style-type: circle;
}

aside {
  line-height: 1.2rem;
}

footer {
  font-size: 1.125rem;
}

small a {
  color: #8f2440;
  text-decoration: none;
}
